[submodule "garybernhardt"]
	path = garybernhardt
	url = git@github.com:garybernhardt/dotfiles.git
	branch = master
[submodule "christoomey"]
	path = christoomey
	url = git@github.com:christoomey/dotfiles.git
	branch = master
[submodule "nicknisi"]
	path = nicknisi
	url = git@github.com:nicknisi/dotfiles.git
	branch = master
[submodule "pure"]
	path = pure
	url = git@github.com:sindresorhus/pure.git
	branch = master
[submodule "jongold"]
	path = jongold
	url = git@github.com:jongold/The-Home-Repo.git
	branch = master
[submodule "r00k"]
	path = r00k
	url = git@github.com:r00k/dotfiles.git
	branch = master
[submodule "holman"]
	path = holman
	url = git@github.com:holman/dotfiles.git
	branch = master
[submodule "caarlos0"]
	path = caarlos0
	url = git@github.com:caarlos0/dotfiles.git
	branch = master
[submodule "prezto"]
	path = prezto
	url = git@github.com:sorin-ionescu/prezto.git
	branch = master
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
	branch = master
[submodule "junegunn"]
	path = junegunn
	url = git@github.com:junegunn/dotfiles.git
	branch = master
[submodule "netj"]
	path = netj
	url = git@github.com:netj/dotfiles.git
	branch = master
[submodule "skwp"]
	path = skwp
	url = git@github.com:skwp/dotfiles.git
	branch = master
[submodule "mathiasbynens"]
	path = mathiasbynens
	url = git@github.com:mathiasbynens/dotfiles.git
	branch = master
[submodule "jackfranklin"]
	path = jackfranklin
	url = git@github.com:jackfranklin/dotfiles.git
	branch = master
[submodule "haya14busa"]
	path = haya14busa
	url = git@github.com:haya14busa/dotfiles.git
	branch = master
[submodule "wincent"]
	path = wincent
	url = git@github.com:wincent/wincent.git
[submodule "ahmedelgabri"]
	path = ahmedelgabri
	url = git@github.com:ahmedelgabri/dotfiles.git
	branch = master
[submodule "tpope"]
	path = tpope
	url = git@github.com:tpope/tpope.git
	branch = master
